<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask UI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap_min.css') }}">
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <div id="loading-overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.5); z-index: 9999; justify-content: center; align-items: center;">
        <div style="color: white; font-size: 1.5rem;">Пожалуйста, подождите...</div>
    </div>
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('main') }}">Главная</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('system_status') }}">Параметры системы</a></li>
        </ul>
    </nav>
</body>
</html>